template(name='layout')
	.ui.container
		+signin
		+signup
		+signout
		+forgotpass
		if resetPassword
			+newpass		
		main 
			if routeIsNot 'home'
				//+sidebar
				+navbar
			+yield

		each member in members
			+modalUser(member=member)


