template(name='modalDelete')
	.ui.basic.modal.delete
		h2
			| {{_ "ays_delete_post"}}
		.actions
			.ui.red.inverted.button.cancel
				i.remove.icon
				| {{_ "ays_no"}}
			.ui.green.inverted.button.approve
				i.checkmark.icon
				| {{_ "ays_yes"}}
