template(name='usersList')
	h3.ui.dividing.header Users List
	table.ui.single.line.table.inverted
		thead
			tr
				th Id
				th Username
				th Email
				th CreatedAt
		tbody
			each users
				tr
					td {{_id}}
					td {{username}}
					td
						each emails
							{{address}} 
					td {{createdAt}}
					

