template(name='usersList')
	h2.ui.dividing.header Users List
	table.ui.single.line.table
		thead
			tr
				th Id
				th Username
				th Email
				th Picture
		tbody
			each users
				tr
					td {{_id}}
					td {{username}}
					td {{emails.address}}
					td {{createdAt}}
					

