template(name='signin')
	.ui.modal.coupled.tiny.signin
		i.close.icon
		.ui.pointing.secondary.menu
			.active.item Sign in
			a.item.menusignup Sign up
		.ui.form.content.signin.error
			.field
				label Email
				input#signin-email(name="email" type='email')
			.field
				label Password
					a.menuforgotpass Forgot password?
				input#signin-password(name="password" type='password')
			.ui.fluid.green.button.submit
				| Login
				i.sign.in.icon.right
			.ui.error.message
