template(name='signout')
	.ui.basic.modal.signout
		h2
			| {{_ "ays_signout"}}
		.actions
			.ui.red.inverted.button.cancel
				i.remove.icon
				| {{_ "ays_no"}}
			.ui.green.inverted.button.approve
				i.checkmark.icon
				| {{_ "ays_yes"}}
