template(name='commentSubmit')
	.ui.form.ui.reply.form.commentSubmit.error
		.field
			textarea(name="body" type='text' rows="3" )
		.ui.primary.submit.labeled.icon.button.basecolor.tiny
			i.icon.edit
			|  Add Comment
		.ui.error.message

