@import '../../../stylesheet/variables.scss';

.item.postItem{
	.extra{
		position:relative;
		width:100%;
		a.gotopage{
			position: absolute!important;
			right:0!important;
			bottom:0!important;
			i{
				width:20px;
			}
		}
	}
	a.header,a.gotopage,h1.header{
		color:$textcolor!important;
	}
	
	a.header:hover, a.gotopage:hover{
		color: $basecolor!important;

	}

}



/*==============================
=            MOBILE            =
==============================*/
@media only screen and (max-width: 767px) {
	.item.postItem{
		h1.header{
			font-size: 1.1em!important;
		}
		a.header{
			font-size: 1.1em!important;
		}
		.meta{
			font-size: 0.9em!important;
		}
		.extra{
			.ui.label.comm{
				display: none;
			}
		}
	}
}
/*==============================
=            TABLET            =
==============================*/
@media only screen and (min-width: 768px) {


}

/*================================
=            COMPUTER            =
================================*/
@media only screen and (min-width: 992px) {


}
