template(name='modalLeave')
	.ui.basic.modal.leave
		h2
			| {{_ "ays_leave_post"}}
		.actions
			.ui.red.inverted.button.cancel
				i.remove.icon
				| {{_ "ays_no"}}
			.ui.green.inverted.button.approve
				i.checkmark.icon
				| {{_ "ays_yes"}}
