template(name='modalLeave')
	.ui.basic.modal.leave
		h2
			| Are you sure you want to leave this training?
		.actions
			.ui.red.inverted.button.cancel
				i.remove.icon
				| No
			.ui.green.inverted.button.approve
				i.checkmark.icon
				| Yes
