@import 'variables.scss';

body{
	min-height:100vh;
	//background:url("bg.jpg") fixed no-repeat;
	//background-size: cover;
	//background-color:grey;
}
.ui.container.global{
	padding:68px 0 68px 0;
	min-height:100%!important;
}
.ui.grid{
	padding-top:0px!important;
}

footer{
	height:44px;
	margin-top:-44px!important;
	background-color:$textcolor!important;
	color:$white;
	span{
		opacity: 0.3;
	}
	.language{
		float:right;
		a{	
			color:$white;
			opacity: 0.3;
			cursor:pointer;
		}
		a.active{
			opacity: 1;
			color:$white;
		}
	}
}
.s-alert-box{
	z-index: 2000;
	border-radius:$bd-radius;
	color:$white;
	margin-left:14px;
	right:14px;
	top:54px;
}
.s-alert-success{
	background-color:$green;
}

.colorOrange{
	color:$basecolor!important;
}
.basecolor{
	background-color:$basecolor!important;
}
.darkcolor{
	background-color:$darkcolor!important;
	color:$white!important;
}
.lightcolor{
	background-color:$lightcolor!important;
	color:$black!important;
}
.bgtextcolor{
	background-color:$textcolor!important;
	color:$white!important;
}
.ui.header:first-child{
	margin-top:0!important;
}

/*===============================
=            LOADING            =
===============================*/
.loadingTemplate{
	height:100vh;
	margin-top:-68px!important;
}


/*============================
=            FORM            =
============================*/
.field.error {
	label{
		color:#9f3a38!important;
	}
	input,textarea{
		background-color:transparent!important;
		border:2px solid #9f3a38 !important;
	}
	div.ui.fluid.search.selection.dropdown{
		input{
			border:none!important;
		}		
		border:1px solid #9f3a38 !important;
	}
}
div.ui.error.message{
	box-shadow:none;
	background-color: #9f3a38;
	color:$white;
}



/*==============================
=            AVATAR            =
==============================*/
//avatar mini
img.ui.avatar.image{
	border-radius:$bd-radius;
}

/*====================================
=            BLOCK HEADER            =
====================================*/
.ui.block.header{
	border:none;
}
.ui.tertiary.segment,{
	border:none;
	box-shadow:none;
	//background-color:transparent;
}



/*===========================
=            MAP            =
===========================*/
//Animesh Nandi's answer is a bit old. Actually, to remove the 'powered by Google' logo I had to use the following code:
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
	border-radius:0.28571429rem!important;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control{
	display:none;
}
.pac-container:after {
	/* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
	background-image: none !important;
	height: 0px;
}
#map {
	width: 100%;
	border-radius:$bd-radius;
	z-index: 0;
		a {
				color: grey!important;
			}
}



/*==============================
=            MOBILE            =
==============================*/
@media only screen and (max-width: 767px) {
	body{
  overflow-y: scroll; /* has to be scroll, not auto */

		 -webkit-overflow-scrolling: touch;
	}

}
/*==============================
=            TABLET            =
==============================*/

@media only screen and (min-width: 768px) {

	.ui.image.label.member{
		img{
			float:left;
		}
		width:100%!important;
		margin-bottom:5px;
		text-align:right;
	}
}
/*================================
=            COMPUTER            =
================================*/
@media only screen and (min-width: 992px) {

}
