$basecolor: orange;
$darkcolor: darken( $basecolor, 15% );
$lightcolor: lighten( $basecolor, 15% );


$textcolor: #545454;


$white:rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);



$bd-radius:0.28571429rem;





$color1:#444;
$color3:#1b1c1d;

$grey: #4c4f52;

$greylabel: #e8e8e8;

$running:#2980b9;
$football:#27ae60;
$workout:#16a085;
$cycle:#8e44ad;
$boxing:#e74c3c;


