$basecolor: #f39c12;
$darkcolor: darken( $basecolor, 15% );
$lightcolor: lighten( $basecolor, 15% );


$textcolor: #545454;


$white:rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);
$green: #21ba45;


$bd-radius:0.28571429rem;


$color1:#444;
$color3:#1b1c1d;

$grey: #4c4f52;

$greylabel: #e8e8e8;




