template(name='usersList')
	table.ui.single.line.table.inverted
		thead
			tr
				th Avatar
				th Username
				th Email
				th Description
		tbody
			each users
				tr
					td
						img(src="{{avatarMini}}")
					td {{username}}
					td
						each emails
							|{{address}}
					td {{description}}

