template(name='dashboard')
	//.ui.grid.stackable.centered
		.ui.tertiary.segment
			.ui.statistics
				.statistic
					.value
						| {{CountCurrentPosts}}
					.label
						| Next Workout
				.statistic
					.value
						| {{CountClosedPosts}}
					.label
						| Passed Workout
				.statistic
					.value
						//i.marker.icon
						|  {{currentUser.location}}
					.label
						| Favorite location


	.ui.grid.stackable.postlist
			.four.wide.column
				+imgEdit
				.ui.inverted.segment
					.ui.inverted.relaxed.divided.list
						.item
							.content
								.sub-header
									| Username
								.sub-header.right.floated.colorOrange 
									|{{currentUser.username}}
								
						.item
							.sub-header
									| Location
								.sub-header.right.floated.colorOrange 
									|{{currentUser.location}}
						.item
							.sub-header
									| Bio
								.sub-header.colorOrange(style="text-align: right")
									|{{currentUser.bio}}

						

			.twelve.wide.column
				h3.ui.top.attached.header.inverted.center.aligned
					|Your next workout
					.ui.circular.right.label.basecolor
						|{{CountCurrentPosts}}
				.ui.tertiary.segment.attached.list
					if UserCurrentPosts
						.ui.divided.items
							each UserCurrentPosts
								+postItem
					else
						p No workout
				h3.ui.top.attached.header.inverted.center.aligned
					|Your passed workout
					.ui.circular.label.right.floated.basecolor
						|{{CountClosedPosts}}
				.ui.tertiary.segment.attached.list
					if UserClosedPosts
							.ui.divided.items
								each UserClosedPosts
									+postItem
					else
						p No workout

		//.six.wide.column
			.ui.secondary.inverted.segment
				.ui.header
					|Your Stats
				.ui.content
					|Here are your stats to see your improvement !

		//.six.wide.column
			.ui.secondary.inverted.segment
				.ui.header
					|My Training Partners
				.ui.content
			table.ui.very.basic.collapsing.celled.table
				tbody
					tr
						td
							.content
								| Training upcoming
								.sub.header
									| Human Resources
						td
							| 0
					tr
						td
							.content
								| Training upcoming
								.sub.header
									| Human Resources
						td
							| 0

	//.ui.grid.stackable.postlist
		.ten.wide.column
			.ui.secondary.inverted.segment
				.ui.header
					|Your Last Workouts
				//.content
					|Here your upcoming workouts, you will be even stronger!
			.ui.divided.items
				each posts
					+postItem
		