template(name='home')
	.bgHomeBlack
	.bgHomeVideo
		video(id="myVideo" autoplay loop muted poster="")
			source(src="test.mp4" type="video/mp4")
	.bandeau2
		if currentUser
			.ui.dropdown
				| {{currentUser.username }}
				img.avatar.ui.image(src="{{currentUser.avatarMini}}")
				//i.dropdown.icon
				.menu
					a.item(href="{{pathFor 'dashboard'}}")
						|Dashboard
						i.icon.dashboard
					a.item(href="{{pathFor 'editProfile'}}")
						|Settings
						i.icon.setting
					if isAdmin
						a.item(href="{{pathFor 'backoffice'}}")
							|Backoffice
							i.icon.protect
					.item.modalsignout
						|Sign out
						i.sign.out.icon.red
		else
			a.ui.basic.inverted.button.tiny.modalsignS(data-modal="signin")
				| Sign In
			a.ui.basic.inverted.button.tiny.modalsignS(data-modal="signup")
				| Sign Up
	

	.bandeau.ui.middle.aligned.column.centered.grid
		.column 	
			h1 WILLTEAM
				//.ui.label 0.2
			//p find your sport team ! Go Go Go !
			p The will that we need !
			//p a team to get will
			if currentUser
				a.ui.animated.fade.button.large.basecolor(tabindex='0' href="{{pathFor 'dashboard'}}")
					.visible.content Join the comunity !
					.hidden.content
						| Go !
			else
				a.ui.button.large.basecolor.modalsignS(data-modal="signin") Join the comunity !
				//.ui.button.large.basecolor.modalsignS.animated.fade(tabindex='0' data-modal="signin")
					.visible.content Join the comunity !
					.hidden.content
						| Go !





