@import '../../stylesheet/variables.scss';


.bgHomeBlack{	 
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -99;
	//background-color:rgba(255,255,255,0.4);
	background-color:rgba(0,0,0,0.75);
	overflow: hidden;
}
.bgHomeVideo{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	background-color:black;
	overflow: hidden;

	video { 
		filter:blur(10px);
		-o-filter:blur(10px);
		-ms-filter:blur(10px);
		-moz-filter:blur(10px);
		-webkit-filter:blur(10px);
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		transition: 1s opacity;
		background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
		background-size: cover;
	}
}


.bandeau2{
	height:44px;
	line-height: 44px;
	padding:10px;	
	width:100%;
	margin-top:-68px!important;
	padding:0 14px 0 0;
	position:relative;
	z-index:1;
	text-align:right;
	.dropdown{
		float:right;
		color:$white;
		img{margin-left:10px;}
		.menu{
			right:0px!important;
			left:auto!important;
			text-align:right;
			.item{
				position:relative;
				padding-right:37px!important;
				i{
					position: absolute;
					right:0;
				}
			}
		}
	}
	


}



.bandeau{
	color:$white;
	text-align:center;
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
	z-index:0;

	h1{
		font-size:60px;
		margin:0;		}
		p{
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 25px;
			font-style: italic;
		}


	}

	.biglabel{
		background-color:orange;
		height:150px;
		width:100%;
	}
/*==============================
=            MOBILE            =
==============================*/
@media only screen and (max-width: 767px) {
	.bgHomeVideo{
		display:none;
	}

	.bandeau{
		h1{
			font-size:45px;
		}

	}
}
/*==============================
=            TABLET            =
==============================*/

@media only screen and (min-width: 768px) {

}
/*================================
=            COMPUTER            =
================================*/
@media only screen and (min-width: 992px) {

}
