@import '../../../stylesheet/variables.scss';

.editProfile{

	tbody tr td:nth-child(3){
		cursor:pointer;
		width:40px;
	}
	tbody tr td:nth-child(3):hover .edit.icon{
		color:$basecolor;
	}
	tbody tr td:nth-child(2){
		color:$basecolor;
	}
	

}