template(name="postsList")
	//.ui.secondary.inverted.segment
		.ui.header
			|The next trainings 
		.content
			|Here the upcoming workouts, you will be even stronger!
	if returnPostsToday
		h3.ui.top.attached.header.inverted.center.aligned
			|Today
		.ui.tertiary.segment.attached
			.ui.divided.items
				each returnPostsToday
					+postItem
	if returnPostsTomorrow
		h3.ui.top.attached.header.inverted.center.aligned
			|Tomorrow
		.ui.tertiary.segment.attached
			.ui.divided.items
				each returnPostsTomorrow
					+postItem
	if returnPostsNextdays
		h3.ui.top.attached.header.inverted.center.aligned
			|Next Days
		.ui.tertiary.segment.attached
			.ui.divided.items
				each returnPostsNextdays
					+postItem