@import '../../../stylesheet/variables.scss';

.postPage{

	h5.ui.header,h4.ui.header{
		color:$textcolor!important;
	}
	#mappage{
		a {
			color: grey!important;
		}
	}
	.ui.form.commentSubmit {
		textarea{
			background-color:$greylabel!important;
			border:none;
			white-space: pre;
		}
	}
	.ui.tertiary.segment.map{
		padding : 0;
		.ui.header{
			padding:14px;
			margin:0;
		}
		#mappage {
			height: 150px;
			width: 100%;
			border-bottom-left-radius:$bd-radius;
			border-bottom-right-radius:$bd-radius;	
			z-index: 0;
		}
	}
	.ui.tiny.image.profileMember{
		margin:0;
		width:80px!important;
		img{
			padding:0!important;
			margin:0!important;
			height:80px!important;
			width:80px!important;
		}
	}
}





/*==============================
=            MOBILE            =
==============================*/
@media only screen and (max-width: 767px) {
	.postPage{
		.item.postItem{
			.content{
				top:14px;
				left:-14px;
				position:absolute;
				padding-left:122px!important;
				padding-top:0!important;
				width:100%!important;
				.extra{
					position:absolute;
					top:54px;
					right:0;
				}
			}
		}
	}
}

/*==============================
=            TABLET            =
==============================*/
@media only screen and (min-width: 768px) {

}

/*================================
=            COMPUTER            =
================================*/
@media only screen and (min-width: 992px) {

}
