template(name='modalUser')
	.ui.tiny.modal.basic.modalUser(class="{{member._id}}")
		i.close.icon
		.header
			h1.item {{member.username}}
		.content
			img(src="{{member.avatarMega}}")

			.extra
				|{{member.bio}}



