template(name='layout')
	if routeIsNot 'home'
		+navbar
	.ui.container.global
		+signin
		+signup
		+signout
		+forgotpass
		if resetPassword
			+newpass		
		
		+yield

		+sAlert

		each member in members
			+modalUser(member=member)
	if routeIsNot 'home'
		+footer


