template(name='layout')
	.ui.container
		+signin
		+signup
		+signout
		+forgotpass
		if resetPassword
			+newpass		
		if routeIsNot 'home'
			//+sidebar
			+navbar
		+yield

		+sAlert

		each member in members
			+modalUser(member=member)


