template(name='disconnect')
	.ui.basic.modal.disconnect
		h3
			| Are you sure you want to disconnect?
		.actions
			.ui.red.basic.inverted.button.cancel
				i.remove.icon
				| No
			.ui.green.basic.inverted.button.approve
				i.checkmark.icon
				| Yes