template(name='logout')
	.ui.basic.modal.logout
		h2
			| Are you sure you want to disconnect?
		.actions
			.ui.red.inverted.button.cancel
				i.remove.icon
				| No
			.ui.green.inverted.button.approve
				i.checkmark.icon
				| Yes