@import '../../stylesheet/variables.scss';

/*==============================
=            MODALS            =
==============================*/
.modal.signout, .modal.delete , .modal.leave{
	text-align:center;
	.actions{
		text-align: center;
	}
}
.modal.signin, .modal.signup , .modal.forgotpass,.modal.newpass{
	.menu{
		margin:0px;
		font-size: 1.2rem;
	}
	.button.submit{
		margin:25px 0 0 0;
	}
	.menuforgotpass{
		float: right;
		font-weight: normal;
		cursor:pointer;
	}
}

.ui.tiny.modal.basic.modalUser{
	width:300px!important;
	.content{
		width:100%;
		margin:auto;
		padding-top: 0px!important;
		img{
			border-radius:$bd-radius!important;
			width:100%;
		}
		.extra{		
				text-align:center;

			margin-top:10px; 
			white-space: pre-wrap;       /* css-3 */
			white-space: -moz-pre-wrap;  /* Mozilla */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */}
	}
}




/*==============================
=            MOBILE            =
==============================*/
@media only screen and (max-width: 767px) {
	.ui.tiny.modal {
		width: 95%;
		margin: 0em 0em 0em -47.5%;
	}
	
	.modal.signin, .modal.signup, .modal.forgotpass, .modal.newpass,{
		.close.icon{
			padding: 0;
			margin: 8px 0 0 0;

		}
	}
	.ui.tiny.modal.basic.modalUser{
		width:95%!important;
	}

}
/*==============================
=            TABLET            =
==============================*/
@media only screen and (min-width: 768px) {
	.ui.tiny.modal {
		width: 300px;
		margin: 0em 0em 0em -150px;
	}

	.modal.signin, .modal.signup, .modal.forgotpass, .modal.newpass,{
		.close.icon{
			padding: 0;
			margin:0 -5px 0 0;
		}
	}

}

/*================================
=            COMPUTER            =
================================*/
@media only screen and (min-width: 992px) {
	.modal.signin, .modal.signup, .modal.forgotpass, .modal.newpass,{
		.close.icon{
			padding: 0;
			margin:10px 10px 0 0;
		}
	}
}
