template(name="footer")
	footer.ui.vertical.footer.segment.tiny
		.ui.container
			| Willteam  
			span - All Rights Reserved
			//.language
				i.icon.world
				a.englishChoice(class="{{isEnglish}}") EN 
				span |
				a.frenchChoice(class="{{isFrench}}") FR