template(name='sidebar')
	.ui.sidebar.inverted.vertical.menu.visible
		.item
			h3 
				|Social App Beta


		if currentUser
			.item
				|Hello {{currentUser.username}}
			a.item.modallogout
				i.grid.sign.out.icon.red
				| Sign out
		else
			a.item.modalsignS(data-modal="signin")
				i.grid.sign.in.icon.green
				| Sign in
			a.item.modalsignS(data-modal="signup")
				i.grid.sign.in.icon.blue
				| Sign up
			

		a.item(href="{{pathFor 'dashboard'}}" class="{{activeRouteClass 'dashboard'}}")
			i.grid.dashboard.icon
			| Dashboard


		.item
			.header
				|Posts
			.menu
				a.item
					i.grid.plus.icon
					| Submit Post
				a.item
					i.grid.bookmark.icon
					| My Posts
				a.item
					i.grid.align.justify.icon
					| All Posts
				a.item
					i.grid.marker.icon
					| Map Posts

		.item
			.header
				|Users
			.menu
				a.item(href="{{pathFor 'usersList'}}" class="{{activeRouteClass 'usersList'}}")
					i.grid.users.icon
					| Users List
				a.item
					i.grid.user.icon
					| Friends List




